<main class="main">
  <div class="inner">
    <div class="greeting">
      <% if user_signed_in?%>
        お疲れ様です、
        <%= link_to "#{current_user.nickname}さん", root_path, class: :greeting__link %>
      <% end %>
    </div>
    <div class="card__wrapper">
        <%= render partial: "record", collection: @records %>
    </div>
  </div>
</main>
